

*.xcscmblueprint

*.xcuserstate

*/Podfile.lock
*/*.DS_Store
*/Pods/*
*/*.xcworkspace
*/xcuserdata/**/*.*
TestUtilityKit/TestUtilityKit.xcodeproj/xcuserdata/eadkenny.xcuserdatad/xcschemes/xcschememanagement.plist

TestUtilityKit/TestUtilityKit.xcodeproj/xcuserdata/jgw.xcuserdatad/xcschemes/xcschememanagement.plist
